.title {
    border-style: solid;
    margin: 10px;
}

h1 {
    border-spacing: 10px;
    text-align: center;
    margin: 10px;
    font-size: 2em;
}

h2 {
    text-align: center;
    margin: 10px;
    font-size: 1em;
}

.game-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    background-color: #d9d9d9;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.box:nth-child(even) {
    background-color: white;
}

.box:nth-child(odd) {
    background-color: black;
}

.players {
    align-content: space-evenly;
    justify-content: space-between;
    display: flex;
    margin: 11px;
    row-gap: 100px;
}

.player1 {
    border-style: solid;
    padding: 0 2em 2em 2em;
    text-align: center;
}

.player2 {
    border-style: solid;
    padding: 0 2em 2em 2em;
    text-align: center;
}

.animalshots {
    height: 60px;
    width: 60px;
    align-items:center
}